In [58]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/kakr-4th-competition/train.csv
/kaggle/input/kakr-4th-competition/test.csv
/kaggle/input/kakr-4th-competition/sample_submission.csv

In [59]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [60]:
df = pd.read_csv("../input/kakr-4th-competition/train.csv")

In [61]:
df

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,<=50K
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,<=50K
4,4,24,Private,122234,Some-college,10,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,20,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26044,26044,57,Private,250201,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,52,United-States,<=50K
26045,26045,23,Private,238092,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
26046,26046,78,?,165694,Masters,14,Widowed,?,Not-in-family,White,Female,0,0,15,United-States,<=50K
26047,26047,26,Self-emp-not-inc,151626,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Female,0,0,40,United-States,<=50K
26048,26048,20,?,99891,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [62]:
null_list = []

for i in range(0,26049):
    
    df_list = df.iloc[i,:].to_list()
    if "?" in df_list:
        
        null_list.append(i)

In [63]:
null_list

[4,
 11,
 30,
 34,
 66,
 67,
 74,
 103,
 125,
 130,
 133,
 134,
 138,
 145,
 147,
 160,
 172,
 176,
 187,
 189,
 201,
 218,
 220,
 227,
 229,
 232,
 235,
 236,
 247,
 266,
 269,
 270,
 271,
 298,
 336,
 338,
 346,
 347,
 350,
 352,
 361,
 368,
 370,
 394,
 416,
 419,
 420,
 432,
 453,
 473,
 474,
 488,
 503,
 509,
 531,
 533,
 535,
 545,
 560,
 561,
 564,
 587,
 588,
 613,
 615,
 641,
 647,
 652,
 655,
 679,
 686,
 706,
 721,
 723,
 771,
 794,
 808,
 824,
 852,
 862,
 866,
 881,
 885,
 891,
 899,
 904,
 919,
 923,
 984,
 998,
 999,
 1047,
 1062,
 1077,
 1104,
 1115,
 1150,
 1153,
 1176,
 1190,
 1197,
 1209,
 1223,
 1237,
 1335,
 1338,
 1348,
 1352,
 1356,
 1361,
 1363,
 1421,
 1458,
 1463,
 1465,
 1473,
 1500,
 1503,
 1505,
 1506,
 1508,
 1531,
 1537,
 1576,
 1600,
 1610,
 1616,
 1622,
 1633,
 1658,
 1682,
 1686,
 1690,
 1715,
 1748,
 1751,
 1758,
 1775,
 1778,
 1780,
 1821,
 1831,
 1844,
 1866,
 1873,
 1877,
 1915,
 1919,
 1927,
 1936,
 1950,
 1953,
 1971,
 1984,
 2011,
 2013,
 2024,
 2025,
 2058,
 2099,
 2125,
 2157,
 2162,
 2166,
 2170,
 2176,
 2179,
 2185,
 2203,
 2209,
 2221,
 2230,
 2239,
 2241,
 2262,
 2266,
 2275,
 2284,
 2289,
 2301,
 2302,
 2308,
 2330,
 2340,
 2350,
 2360,
 2362,
 2382,
 2409,
 2435,
 2480,
 2484,
 2508,
 2514,
 2517,
 2558,
 2580,
 2608,
 2613,
 2629,
 2646,
 2657,
 2660,
 2678,
 2681,
 2693,
 2694,
 2704,
 2736,
 2742,
 2765,
 2768,
 2786,
 2804,
 2852,
 2865,
 2871,
 2893,
 2913,
 2919,
 2928,
 2935,
 2940,
 2942,
 2946,
 2947,
 2948,
 2951,
 2956,
 2971,
 2982,
 2983,
 2991,
 2998,
 3012,
 3022,
 3035,
 3040,
 3054,
 3055,
 3072,
 3074,
 3096,
 3104,
 3107,
 3109,
 3111,
 3141,
 3159,
 3170,
 3183,
 3192,
 3195,
 3238,
 3249,
 3255,
 3257,
 3275,
 3277,
 3297,
 3298,
 3303,
 3323,
 3343,
 3391,
 3409,
 3413,
 3437,
 3466,
 3469,
 3486,
 3488,
 3502,
 3503,
 3522,
 3544,
 3568,
 3574,
 3577,
 3578,
 3593,
 3596,
 3615,
 3618,
 3623,
 3624,
 3634,
 3645,
 3646,
 3650,
 3652,
 3658,
 3662,
 3666,
 3683,
 3695,
 3713,
 3725,
 3726,
 3791,
 3799,
 3856,
 3858,
 3883,
 3906,
 3914,
 3926,
 3962,
 3992,
 4006,
 4038,
 4062,
 4082,
 4099,
 4109,
 4120,
 4138,
 4140,
 4161,
 4164,
 4197,
 4202,
 4208,
 4225,
 4228,
 4242,
 4245,
 4253,
 4258,
 4268,
 4273,
 4277,
 4285,
 4299,
 4332,
 4334,
 4346,
 4357,
 4401,
 4410,
 4411,
 4427,
 4444,
 4453,
 4455,
 4488,
 4490,
 4499,
 4545,
 4573,
 4577,
 4595,
 4619,
 4630,
 4636,
 4638,
 4656,
 4673,
 4685,
 4701,
 4711,
 4740,
 4749,
 4766,
 4808,
 4824,
 4845,
 4899,
 4904,
 4922,
 4938,
 4945,
 4946,
 4975,
 4982,
 4988,
 5000,
 5015,
 5016,
 5024,
 5030,
 5046,
 5072,
 5083,
 5088,
 5092,
 5105,
 5128,
 5130,
 5140,
 5148,
 5158,
 5189,
 5199,
 5200,
 5212,
 5232,
 5241,
 5252,
 5275,
 5306,
 5318,
 5341,
 5342,
 5366,
 5370,
 5372,
 5376,
 5386,
 5393,
 5443,
 5451,
 5459,
 5473,
 5475,
 5496,
 5516,
 5519,
 5523,
 5530,
 5585,
 5598,
 5624,
 5626,
 5639,
 5643,
 5683,
 5702,
 5704,
 5706,
 5720,
 5724,
 5733,
 5757,
 5762,
 5769,
 5771,
 5772,
 5814,
 5817,
 5818,
 5823,
 5828,
 5832,
 5850,
 5851,
 5857,
 5862,
 5864,
 5869,
 5875,
 5906,
 5926,
 5949,
 5965,
 5977,
 5978,
 5987,
 6017,
 6029,
 6045,
 6075,
 6087,
 6126,
 6132,
 6162,
 6174,
 6176,
 6199,
 6201,
 6207,
 6212,
 6223,
 6236,
 6293,
 6294,
 6299,
 6312,
 6314,
 6316,
 6323,
 6324,
 6325,
 6327,
 6329,
 6333,
 6346,
 6351,
 6362,
 6389,
 6400,
 6405,
 6410,
 6448,
 6460,
 6466,
 6467,
 6523,
 6532,
 6545,
 6565,
 6572,
 6576,
 6580,
 6595,
 6609,
 6613,
 6620,
 6660,
 6675,
 6676,
 6683,
 6697,
 6710,
 6723,
 6732,
 6754,
 6757,
 6791,
 6796,
 6815,
 6821,
 6836,
 6841,
 6863,
 6870,
 6875,
 6883,
 6887,
 6895,
 6904,
 6910,
 6923,
 6929,
 6936,
 6939,
 6940,
 6996,
 7020,
 7066,
 7068,
 7074,
 7095,
 7108,
 7109,
 7123,
 7138,
 7146,
 7149,
 7153,
 7170,
 7171,
 7176,
 7198,
 7219,
 7231,
 7239,
 7260,
 7262,
 7264,
 7296,
 7305,
 7310,
 7332,
 7333,
 7339,
 7354,
 7356,
 7370,
 7379,
 7382,
 7399,
 7407,
 7413,
 7427,
 7442,
 7454,
 7463,
 7467,
 7473,
 7489,
 7494,
 7498,
 7502,
 7512,
 7536,
 7550,
 7581,
 7613,
 7620,
 7631,
 7641,
 7664,
 7712,
 7718,
 7756,
 7758,
 7761,
 7776,
 7779,
 7780,
 7794,
 7808,
 7820,
 7822,
 7826,
 7829,
 7867,
 7869,
 7876,
 7918,
 7929,
 7940,
 7954,
 7956,
 7970,
 7996,
 8007,
 8017,
 8021,
 8030,
 8032,
 8034,
 8041,
 8058,
 8060,
 8062,
 8080,
 8081,
 8110,
 8126,
 8140,
 8142,
 8147,
 8159,
 8174,
 8184,
 8208,
 8243,
 8260,
 8263,
 8285,
 8361,
 8366,
 8377,
 8392,
 8401,
 8405,
 8418,
 8423,
 8441,
 8465,
 8481,
 8482,
 8496,
 8507,
 8512,
 8513,
 8514,
 8520,
 8566,
 8579,
 8591,
 8598,
 8614,
 8634,
 8637,
 8654,
 8663,
 8672,
 8674,
 8676,
 8682,
 8695,
 8696,
 8698,
 8711,
 8724,
 8744,
 8769,
 8814,
 8824,
 8826,
 8827,
 8842,
 8847,
 8858,
 8866,
 8869,
 8903,
 8915,
 8930,
 8945,
 8955,
 8969,
 8970,
 8977,
 8981,
 8987,
 8991,
 9003,
 9044,
 9060,
 9069,
 9138,
 9145,
 9159,
 9181,
 9215,
 9220,
 9227,
 9236,
 9238,
 9314,
 9334,
 9347,
 9350,
 9370,
 9372,
 9378,
 9390,
 9407,
 9409,
 9415,
 9431,
 9433,
 9435,
 9450,
 9451,
 9455,
 9472,
 9480,
 9496,
 9525,
 9526,
 9547,
 9549,
 9557,
 9558,
 9560,
 9586,
 9596,
 9627,
 9639,
 9644,
 9664,
 9677,
 9691,
 9692,
 9705,
 9722,
 9735,
 9736,
 9766,
 9771,
 9780,
 9785,
 9852,
 9860,
 9864,
 9876,
 9898,
 9904,
 9915,
 9918,
 9919,
 9926,
 9935,
 9952,
 9957,
 10002,
 10009,
 10020,
 10036,
 10051,
 10053,
 10068,
 10134,
 10140,
 10152,
 10176,
 10191,
 10194,
 10207,
 10225,
 10226,
 10227,
 10238,
 10245,
 10250,
 10267,
 10273,
 10281,
 10282,
 10286,
 10314,
 10319,
 10364,
 10368,
 10381,
 10385,
 10400,
 10420,
 10436,
 10443,
 10466,
 10477,
 10488,
 10531,
 10532,
 10535,
 10574,
 10581,
 10590,
 10622,
 10640,
 10652,
 10663,
 10666,
 10671,
 10679,
 10687,
 10691,
 10700,
 10713,
 10716,
 10723,
 10758,
 10768,
 10774,
 10775,
 10797,
 10810,
 10850,
 10851,
 10879,
 10886,
 10890,
 10897,
 10914,
 10921,
 10926,
 10932,
 10934,
 10941,
 10946,
 10955,
 10990,
 10997,
 10999,
 11026,
 11052,
 11063,
 11087,
 11111,
 11127,
 11129,
 11136,
 11143,
 11149,
 11172,
 11199,
 11202,
 11216,
 11237,
 11239,
 11241,
 11246,
 11288,
 11289,
 11293,
 11298,
 11313,
 11316,
 11329,
 11347,
 11359,
 11363,
 11388,
 11401,
 11402,
 11406,
 11482,
 11508,
 11510,
 11543,
 11573,
 11592,
 11600,
 11611,
 11615,
 11635,
 11652,
 11667,
 11677,
 11678,
 11699,
 11702,
 11732,
 11742,
 11743,
 11751,
 11768,
 11772,
 11774,
 11779,
 11784,
 11798,
 11820,
 11828,
 11848,
 11872,
 11880,
 11916,
 11923,
 11928,
 11932,
 11950,
 11952,
 11981,
 11989,
 11995,
 12003,
 12031,
 12063,
 12066,
 12089,
 12091,
 12115,
 12124,
 12143,
 12153,
 12206,
 12209,
 12216,
 12219,
 12220,
 12237,
 12250,
 12284,
 12296,
 12297,
 12306,
 12322,
 12331,
 12351,
 12375,
 12387,
 12410,
 12423,
 12437,
 12447,
 12456,
 12461,
 12476,
 12483,
 12495,
 12558,
 12563,
 12565,
 12579,
 12586,
 12589,
 12593,
 12611,
 12626,
 12630,
 12638,
 12673,
 12677,
 12679,
 12681,
 12694,
 12707,
 12709,
 12714,
 12719,
 12742,
 12747,
 12811,
 12823,
 12842,
 12855,
 12888,
 12892,
 12897,
 12913,
 12926,
 12947,
 12962,
 12963,
 12998,
 13008,
 13017,
 13024,
 13031,
 13067,
 13077,
 13094,
 13098,
 ...]

In [64]:
df2 = df.drop(index=null_list)

In [65]:
df2

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,<=50K
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,<=50K
5,5,43,Private,236985,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26042,26042,48,Self-emp-not-inc,191389,Some-college,10,Separated,Sales,Unmarried,White,Female,0,0,50,United-States,<=50K
26043,26043,34,Self-emp-not-inc,234960,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1887,48,United-States,>50K
26044,26044,57,Private,250201,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,52,United-States,<=50K
26045,26045,23,Private,238092,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
26047,26047,26,Self-emp-not-inc,151626,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Female,0,0,40,United-States,<=50K

In [66]:
df3 = df2[df2.age < 80]

In [67]:
df3

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,<=50K
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,<=50K
5,5,43,Private,236985,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26042,26042,48,Self-emp-not-inc,191389,Some-college,10,Separated,Sales,Unmarried,White,Female,0,0,50,United-States,<=50K
26043,26043,34,Self-emp-not-inc,234960,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1887,48,United-States,>50K
26044,26044,57,Private,250201,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,52,United-States,<=50K
26045,26045,23,Private,238092,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
26047,26047,26,Self-emp-not-inc,151626,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Female,0,0,40,United-States,<=50K

In [68]:
df3.workclass.value_counts()

Private             17756
Self-emp-not-inc     1977
Local-gov            1664
State-gov            1027
Self-emp-inc          840
Federal-gov           751
Without-pay            11
Name: workclass, dtype: int64

In [69]:
df4 = df3.loc[df3.workclass != "Without-pay"]

In [70]:
df4

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,<=50K
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,<=50K
5,5,43,Private,236985,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26042,26042,48,Self-emp-not-inc,191389,Some-college,10,Separated,Sales,Unmarried,White,Female,0,0,50,United-States,<=50K
26043,26043,34,Self-emp-not-inc,234960,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1887,48,United-States,>50K
26044,26044,57,Private,250201,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,52,United-States,<=50K
26045,26045,23,Private,238092,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
26047,26047,26,Self-emp-not-inc,151626,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Female,0,0,40,United-States,<=50K

In [71]:
df4.marital_status.value_counts()

Married-civ-spouse       11193
Never-married             7770
Divorced                  3343
Separated                  755
Widowed                    642
Married-spouse-absent      295
Married-AF-spouse           17
Name: marital_status, dtype: int64

In [72]:
df5 = df4.loc[df4.marital_status != "Married-AF-spouse"]

In [73]:
df5.occupation.value_counts()

Prof-specialty       3211
Craft-repair         3201
Exec-managerial      3172
Sales                2939
Adm-clerical         2928
Other-service        2537
Machine-op-inspct    1552
Transport-moving     1248
Handlers-cleaners    1076
Farming-fishing       766
Tech-support          728
Protective-serv       515
Priv-house-serv       118
Armed-Forces            7
Name: occupation, dtype: int64

In [74]:
df6 = df5.loc[df5.occupation != "Armed-Forces"]
df6.reset_index(drop=True,inplace=True)

In [75]:
df6.occupation.value_counts()

Prof-specialty       3211
Craft-repair         3201
Exec-managerial      3172
Sales                2939
Adm-clerical         2928
Other-service        2537
Machine-op-inspct    1552
Transport-moving     1248
Handlers-cleaners    1076
Farming-fishing       766
Tech-support          728
Protective-serv       515
Priv-house-serv       118
Name: occupation, dtype: int64

In [76]:
df6.relationship.value_counts()

Husband           9909
Not-in-family     6127
Own-child         3590
Unmarried         2544
Wife              1114
Other-relative     707
Name: relationship, dtype: int64

In [77]:
ca_gain = df6.capital_gain.value_counts().to_frame()

In [78]:
ca_gain_1 = ca_gain[ca_gain.capital_gain < 100]

In [79]:
ca_gain_1

       capital_gain
3103             82
5178             75
4386             55
5013             52
8614             44
...             ...
5060              1
2538              1
18481             1
41310             1
1639              1

[111 rows x 1 columns]

In [80]:
ca_gain_1_list = ca_gain_1.index.to_list()

In [81]:
ca_1_index = []

for i in range(len(df6.capital_gain)):
    
    if df6.capital_gain[i] in ca_gain_1_list:
        
        ca_1_index.append(i)

In [82]:
ca_1_index

[19,
 25,
 28,
 38,
 48,
 56,
 81,
 150,
 152,
 173,
 228,
 248,
 249,
 260,
 261,
 275,
 299,
 337,
 370,
 392,
 414,
 418,
 426,
 481,
 484,
 510,
 525,
 574,
 608,
 610,
 652,
 662,
 665,
 670,
 686,
 700,
 708,
 752,
 758,
 775,
 799,
 808,
 845,
 859,
 873,
 891,
 914,
 916,
 944,
 982,
 1017,
 1021,
 1086,
 1103,
 1132,
 1173,
 1175,
 1179,
 1254,
 1294,
 1348,
 1400,
 1435,
 1490,
 1514,
 1522,
 1531,
 1546,
 1553,
 1563,
 1610,
 1641,
 1648,
 1649,
 1684,
 1749,
 1795,
 1796,
 1817,
 1838,
 1853,
 1856,
 1866,
 1875,
 1881,
 1887,
 1890,
 1930,
 1997,
 1999,
 2017,
 2021,
 2026,
 2052,
 2083,
 2111,
 2116,
 2118,
 2252,
 2277,
 2378,
 2385,
 2409,
 2418,
 2435,
 2459,
 2468,
 2501,
 2560,
 2565,
 2581,
 2585,
 2619,
 2656,
 2701,
 2724,
 2749,
 2765,
 2781,
 2802,
 2813,
 2859,
 2866,
 2898,
 2916,
 2925,
 2928,
 2958,
 3024,
 3025,
 3029,
 3045,
 3055,
 3083,
 3101,
 3156,
 3159,
 3161,
 3228,
 3250,
 3262,
 3263,
 3271,
 3296,
 3313,
 3318,
 3336,
 3340,
 3381,
 3386,
 3400,
 3434,
 3459,
 3460,
 3590,
 3591,
 3613,
 3620,
 3644,
 3650,
 3669,
 3671,
 3672,
 3688,
 3712,
 3773,
 3782,
 3832,
 3835,
 3842,
 3874,
 3887,
 3922,
 3925,
 3967,
 3972,
 3980,
 3998,
 4001,
 4006,
 4027,
 4049,
 4067,
 4075,
 4100,
 4135,
 4142,
 4144,
 4162,
 4181,
 4222,
 4229,
 4242,
 4254,
 4281,
 4284,
 4309,
 4316,
 4327,
 4348,
 4354,
 4366,
 4375,
 4380,
 4390,
 4405,
 4419,
 4452,
 4536,
 4562,
 4578,
 4622,
 4661,
 4687,
 4688,
 4689,
 4698,
 4706,
 4714,
 4742,
 4750,
 4765,
 4798,
 4839,
 4848,
 4877,
 4881,
 4887,
 4889,
 4902,
 4925,
 4943,
 4953,
 4995,
 5047,
 5054,
 5088,
 5111,
 5128,
 5138,
 5140,
 5149,
 5156,
 5179,
 5188,
 5214,
 5249,
 5283,
 5308,
 5375,
 5381,
 5401,
 5411,
 5412,
 5447,
 5482,
 5485,
 5500,
 5556,
 5569,
 5576,
 5601,
 5630,
 5631,
 5641,
 5657,
 5686,
 5691,
 5699,
 5721,
 5733,
 5761,
 5778,
 5800,
 5830,
 5848,
 5850,
 5894,
 5898,
 5900,
 5901,
 5903,
 5911,
 5953,
 5969,
 5971,
 5985,
 6006,
 6015,
 6034,
 6051,
 6060,
 6080,
 6102,
 6112,
 6179,
 6190,
 6199,
 6222,
 6231,
 6285,
 6297,
 6315,
 6316,
 6332,
 6344,
 6367,
 6401,
 6406,
 6411,
 6434,
 6451,
 6458,
 6492,
 6495,
 6502,
 6507,
 6512,
 6516,
 6521,
 6522,
 6543,
 6574,
 6575,
 6600,
 6623,
 6669,
 6670,
 6678,
 6679,
 6697,
 6700,
 6714,
 6734,
 6738,
 6796,
 6819,
 6835,
 6844,
 6850,
 6868,
 6888,
 6932,
 6933,
 7007,
 7016,
 7029,
 7035,
 7036,
 7047,
 7060,
 7138,
 7166,
 7181,
 7189,
 7193,
 7203,
 7213,
 7228,
 7232,
 7238,
 7243,
 7251,
 7259,
 7293,
 7297,
 7343,
 7346,
 7348,
 7370,
 7374,
 7391,
 7436,
 7472,
 7490,
 7499,
 7558,
 7570,
 7573,
 7583,
 7616,
 7620,
 7627,
 7669,
 7690,
 7694,
 7702,
 7750,
 7755,
 7797,
 7855,
 7873,
 7881,
 7889,
 7905,
 7922,
 7957,
 8004,
 8036,
 8090,
 8101,
 8113,
 8120,
 8158,
 8160,
 8192,
 8201,
 8257,
 8275,
 8312,
 8336,
 8340,
 8355,
 8359,
 8376,
 8384,
 8418,
 8440,
 8454,
 8479,
 8493,
 8507,
 8510,
 8523,
 8540,
 8605,
 8612,
 8614,
 8625,
 8632,
 8646,
 8653,
 8671,
 8704,
 8705,
 8708,
 8753,
 8768,
 8770,
 8779,
 8789,
 8811,
 8824,
 8830,
 8866,
 8886,
 8889,
 8897,
 8905,
 8928,
 8952,
 8958,
 8959,
 8973,
 8996,
 9008,
 9015,
 9089,
 9144,
 9219,
 9255,
 9311,
 9323,
 9326,
 9343,
 9348,
 9350,
 9352,
 9361,
 9394,
 9462,
 9474,
 9506,
 9516,
 9536,
 9551,
 9586,
 9588,
 9601,
 9619,
 9668,
 9672,
 9693,
 9701,
 9715,
 9722,
 9752,
 9760,
 9765,
 9768,
 9786,
 9801,
 9816,
 9825,
 9847,
 9874,
 9879,
 9891,
 9894,
 9898,
 9940,
 9942,
 9951,
 9964,
 9976,
 10001,
 10038,
 10063,
 10070,
 10122,
 10171,
 10204,
 10245,
 10252,
 10264,
 10282,
 10287,
 10330,
 10354,
 10381,
 10382,
 10391,
 10404,
 10409,
 10412,
 10417,
 10439,
 10452,
 10455,
 10456,
 10471,
 10505,
 10514,
 10535,
 10548,
 10558,
 10561,
 10572,
 10594,
 10600,
 10604,
 10607,
 10612,
 10628,
 10648,
 10673,
 10682,
 10684,
 10699,
 10712,
 10718,
 10727,
 10748,
 10752,
 10775,
 10826,
 10836,
 10854,
 10858,
 10914,
 10967,
 10969,
 11011,
 11020,
 11023,
 11032,
 11052,
 11060,
 11070,
 11073,
 11084,
 11103,
 11114,
 11132,
 11136,
 11154,
 11158,
 11165,
 11183,
 11184,
 11192,
 11199,
 11221,
 11252,
 11262,
 11279,
 11291,
 11367,
 11377,
 11388,
 11389,
 11443,
 11449,
 11455,
 11466,
 11470,
 11476,
 11515,
 11539,
 11570,
 11595,
 11602,
 11610,
 11671,
 11674,
 11683,
 11712,
 11715,
 11758,
 11782,
 11808,
 11836,
 11863,
 11866,
 11892,
 11903,
 11916,
 11918,
 11951,
 11955,
 11983,
 11989,
 12004,
 12012,
 12031,
 12069,
 12070,
 12087,
 12114,
 12138,
 12175,
 12213,
 12218,
 12232,
 12238,
 12251,
 12264,
 12281,
 12282,
 12295,
 12302,
 12306,
 12341,
 12366,
 12378,
 12385,
 12394,
 12413,
 12430,
 12510,
 12530,
 12546,
 12570,
 12578,
 12595,
 12599,
 12643,
 12686,
 12700,
 12729,
 12731,
 12743,
 12747,
 12761,
 12784,
 12787,
 12793,
 12816,
 12818,
 12824,
 12829,
 12834,
 12837,
 12869,
 12872,
 12881,
 12889,
 12890,
 12916,
 12958,
 13017,
 13018,
 13062,
 13081,
 13090,
 13144,
 13183,
 13212,
 13224,
 13262,
 13268,
 13298,
 13299,
 13304,
 13319,
 13426,
 13442,
 13506,
 13521,
 13524,
 13526,
 13563,
 13574,
 13578,
 13663,
 13678,
 13695,
 13739,
 13753,
 13756,
 13757,
 13759,
 13760,
 13793,
 13815,
 13848,
 13888,
 13904,
 14020,
 14049,
 14075,
 14094,
 14137,
 14155,
 14177,
 14207,
 14234,
 14245,
 14288,
 14386,
 14416,
 14440,
 14459,
 14484,
 14523,
 14537,
 14606,
 14632,
 14653,
 14681,
 14695,
 14699,
 14717,
 14731,
 14737,
 14740,
 14747,
 14777,
 14795,
 14877,
 14907,
 14928,
 14946,
 14961,
 15014,
 15025,
 15032,
 15033,
 15052,
 15092,
 15096,
 15140,
 15142,
 15143,
 15174,
 15217,
 15271,
 15281,
 15295,
 15296,
 15298,
 15329,
 15331,
 15341,
 15348,
 15359,
 15364,
 15371,
 15385,
 15386,
 15422,
 15442,
 15465,
 15475,
 15485,
 15544,
 15551,
 15557,
 15558,
 15590,
 15613,
 15631,
 15674,
 15687,
 15703,
 15707,
 15719,
 15722,
 15750,
 15754,
 15763,
 15771,
 15808,
 15809,
 15866,
 15872,
 15874,
 15875,
 15919,
 15960,
 15964,
 15969,
 16009,
 16014,
 16016,
 16041,
 16071,
 16075,
 16084,
 16135,
 16136,
 16139,
 16145,
 16151,
 16179,
 16209,
 16227,
 16243,
 16277,
 16295,
 16302,
 16323,
 16344,
 16347,
 16375,
 16377,
 16381,
 16429,
 16435,
 16448,
 16553,
 16603,
 16608,
 16609,
 16614,
 16645,
 16649,
 16679,
 16692,
 16703,
 16711,
 16760,
 16772,
 16798,
 16805,
 16810,
 16823,
 16824,
 16836,
 16844,
 16865,
 16878,
 16917,
 16928,
 16950,
 16960,
 16963,
 16968,
 16998,
 17005,
 17031,
 17032,
 17049,
 17074,
 17172,
 17174,
 17190,
 17194,
 17215,
 17261,
 17292,
 17297,
 17304,
 17314,
 17316,
 17351,
 17391,
 17395,
 17398,
 17416,
 17427,
 17435,
 17437,
 17454,
 17473,
 17508,
 17525,
 17528,
 17577,
 17578,
 17582,
 17609,
 17692,
 17743,
 17745,
 17751,
 17755,
 17759,
 17772,
 17774,
 17782,
 17784,
 17854,
 17878,
 17914,
 17934,
 17940,
 17956,
 17963,
 17975,
 17989,
 18015,
 18022,
 18037,
 18078,
 18081,
 18092,
 18099,
 18118,
 18119,
 18144,
 18155,
 18175,
 18211,
 18243,
 18245,
 18253,
 18263,
 18278,
 18291,
 18330,
 18332,
 18336,
 18386,
 18416,
 18429,
 18432,
 18454,
 18464,
 18480,
 18484,
 18545,
 18553,
 18566,
 18600,
 18609,
 18610,
 18633,
 18635,
 18659,
 18671,
 18691,
 18699,
 18731,
 18737,
 18748,
 18769,
 18817,
 18867,
 18936,
 18948,
 18954,
 18963,
 18998,
 19014,
 19019,
 19064,
 19103,
 19108,
 19150,
 19217,
 19223,
 19236,
 19240,
 19253,
 19272,
 19288,
 19299,
 19303,
 19304,
 19321,
 19328,
 19329,
 19330,
 19344,
 19374,
 19375,
 19377,
 19395,
 19467,
 ...]

In [83]:
df7 = df6.drop(index=ca_1_index,axis=1)
df7.reset_index(drop=True,inplace=True)

In [84]:
df7

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,<=50K
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,<=50K
4,5,43,Private,236985,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22762,26042,48,Self-emp-not-inc,191389,Some-college,10,Separated,Sales,Unmarried,White,Female,0,0,50,United-States,<=50K
22763,26043,34,Self-emp-not-inc,234960,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1887,48,United-States,>50K
22764,26044,57,Private,250201,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,52,United-States,<=50K
22765,26045,23,Private,238092,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
22766,26047,26,Self-emp-not-inc,151626,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Female,0,0,40,United-States,<=50K

In [85]:
ca_loss = df7.capital_loss.value_counts().to_frame()

In [86]:
ca_loss_1 = ca_loss[ca_loss.capital_loss < 100]

In [87]:
ca_loss_list = ca_loss_1.index.to_list()

ca_loss_index = []

for i in range(len(df7.capital_loss)):
    
    if df7.capital_loss[i] in ca_loss_list:
        
        ca_loss_index.append(i)
        
df8 = df7.drop(index=ca_loss_index,axis=1)

In [88]:
df8

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,<=50K
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,<=50K
4,5,43,Private,236985,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22762,26042,48,Self-emp-not-inc,191389,Some-college,10,Separated,Sales,Unmarried,White,Female,0,0,50,United-States,<=50K
22763,26043,34,Self-emp-not-inc,234960,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1887,48,United-States,>50K
22764,26044,57,Private,250201,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,52,United-States,<=50K
22765,26045,23,Private,238092,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
22766,26047,26,Self-emp-not-inc,151626,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Female,0,0,40,United-States,<=50K

In [89]:
hpw = df8.hours_per_week.value_counts().to_frame()

In [90]:
hpw

    hours_per_week
40           10459
50            1998
45            1270
60            1000
35             876
..             ...
74               1
82               1
92               1
88               1
95               1

[93 rows x 1 columns]

In [91]:
hpw_1 = hpw[hpw.hours_per_week <100].index.to_list()

In [92]:
hpw_1

[12,
 80,
 52,
 8,
 56,
 99,
 46,
 28,
 18,
 72,
 75,
 5,
 84,
 47,
 22,
 41,
 33,
 54,
 39,
 58,
 17,
 27,
 6,
 34,
 90,
 26,
 3,
 14,
 49,
 13,
 4,
 7,
 21,
 53,
 66,
 23,
 62,
 9,
 68,
 57,
 85,
 19,
 11,
 2,
 51,
 64,
 98,
 78,
 77,
 63,
 96,
 1,
 29,
 59,
 31,
 91,
 67,
 73,
 76,
 86,
 61,
 97,
 81,
 94,
 89,
 74,
 82,
 92,
 88,
 95]

In [93]:
tf = df8.hours_per_week.isin(hpw_1)

In [94]:
tf

0        False
1        False
2        False
3        False
4        False
         ...
22762    False
22763    False
22764     True
22765    False
22766    False
Name: hours_per_week, Length: 22042, dtype: bool

In [95]:
df9 = df8[~tf]

In [96]:
df9

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,<=50K
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,<=50K
4,5,43,Private,236985,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22761,26041,44,Private,103233,Bachelors,13,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K
22762,26042,48,Self-emp-not-inc,191389,Some-college,10,Separated,Sales,Unmarried,White,Female,0,0,50,United-States,<=50K
22763,26043,34,Self-emp-not-inc,234960,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1887,48,United-States,>50K
22765,26045,23,Private,238092,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
22766,26047,26,Self-emp-not-inc,151626,HS-grad,9,Never-married,Prof-specialty,Own-child,Black,Female,0,0,40,United-States,<=50K

In [97]:
df9.native_country.value_counts()

United-States                 18831
Mexico                          448
Philippines                     138
Germany                          87
Puerto-Rico                      80
Canada                           73
El-Salvador                      70
India                            64
Cuba                             61
Jamaica                          59
England                          49
Guatemala                        48
South                            47
China                            45
Columbia                         44
Dominican-Republic               42
Italy                            38
Vietnam                          38
Japan                            37
Poland                           36
Iran                             30
Haiti                            28
Portugal                         25
Nicaragua                        24
Taiwan                           24
France                           21
Peru                             21
Ecuador                          19
Greece                           17
Ireland                          16
Hong                             13
Laos                             12
Outlying-US(Guam-USVI-etc)       12
Honduras                         10
Trinadad&Tobago                  10
Thailand                         10
Cambodia                         10
Yugoslavia                        9
Hungary                           8
Scotland                          7
Name: native_country, dtype: int64

In [98]:
df_str = df9.select_dtypes(exclude=["number"])
str_val = df_str.columns.to_list()

In [99]:
df_str

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,Private,HS-grad,Married-civ-spouse,Sales,Husband,White,Male,United-States,>50K
1,Private,9th,Never-married,Machine-op-inspct,Own-child,White,Male,United-States,<=50K
2,Private,Some-college,Never-married,Other-service,Own-child,White,Male,United-States,<=50K
3,Private,Some-college,Never-married,Prof-specialty,Own-child,White,Female,United-States,<=50K
4,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,Black,Male,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
22761,Private,Bachelors,Never-married,Adm-clerical,Unmarried,Black,Female,United-States,<=50K
22762,Self-emp-not-inc,Some-college,Separated,Sales,Unmarried,White,Female,United-States,<=50K
22763,Self-emp-not-inc,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Black,Male,United-States,>50K
22765,Private,Bachelors,Never-married,Prof-specialty,Own-child,White,Male,United-States,<=50K
22766,Self-emp-not-inc,HS-grad,Never-married,Prof-specialty,Own-child,Black,Female,United-States,<=50K

In [100]:
label_encode = LabelEncoder()

In [101]:
df_str2 = df_str.apply(label_encode.fit_transform)

In [102]:
df_str2

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,2,11,1,10,0,4,1,37,1
1,2,6,3,5,3,4,1,37,0
2,2,15,3,6,3,4,1,37,0
3,2,15,3,8,3,4,0,37,0
4,2,11,1,1,0,2,1,37,0
...,...,...,...,...,...,...,...,...,...
22761,2,9,3,0,4,2,0,37,0
22762,4,15,4,10,4,4,0,37,0
22763,4,9,1,8,0,2,1,37,1
22765,2,9,3,8,3,4,1,37,0
22766,4,11,3,8,3,2,0,37,0

In [103]:
df9_number = df9.drop(labels=str_val,axis=1)

In [117]:
df10 = pd.concat([df9_number,df_str2],axis=1)

In [119]:
from sklearn.preprocessing import MinMaxScaler

min_max = MinMaxScaler()


min_max_list = ["capital_gain","capital_loss"]

min_max_df = df10.loc[:,min_max_list]

fnlwgt_log = np.log(df10.fnlwgt)

min_max_df2 = min_max_df.join(fnlwgt_log)

min_max_df3 = pd.DataFrame(min_max.fit_transform(min_max_df2),columns=min_max_df2.columns)



df10_drop = df10.drop(labels=["fnlwgt","capital_gain","capital_loss"],axis=1)

df10_drop.reset_index(drop=True,inplace=True)

In [120]:
df11 = pd.concat([min_max_df3,df10_drop],axis=1)

In [121]:
train_df = df11.drop(labels=["id"],axis=1)

In [110]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import make_scorer
from sklearn.model_selection import GridSearchCV

In [111]:
X = train_df.iloc[:,:-1]
y = train_df.iloc[:,-1]

In [126]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=62)

In [127]:
model1 = RandomForestClassifier()

model1.fit(X_train,y_train)
model1_pred = model1.predict(X_test)
accuracy1 = accuracy_score(y_test,model1_pred)
f1_1 = f1_score(y_test,model1_pred)
print(accuracy1,f1_1)

0.8420033873699492 0.6593635889410538

In [129]:
model2 = XGBClassifier(tree_method = "hist")

model2.fit(X_train,y_train)
model2_pred = model2.predict(X_test)
accuracy2 = accuracy_score(y_test,model2_pred)
f1_2 = f1_score(y_test,model2_pred)
print(accuracy2,f1_2)

NameError: name 'hist' is not defined

In [57]:
scorer = make_scorer(accuracy_score)


param = {

    "max_depth" : [30,50,70],
    "eta" : [0.05,0.1]

}

gs = GridSearchCV(estimator = model2,param_grid = param,scoring=scorer,n_jobs=4,verbose=10)
gs.fit(X_train.values,y_train.values)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

KeyboardInterrupt:

In [ ]:
model_gs = gs.best_estimator_
gs_pred = model_gs.predict(X_test.values)
gs_score = accuracy_score(y_test,gs_pred)
print(gs_score)

In [ ]:
df_test = pd.read_csv("../input/kakr-4th-competition/test.csv")

In [ ]:
df_test2 = df_test.drop(labels=["id"],axis=1)

In [ ]:
df_test_str = df_test2.select_dtypes(exclude=["number"])

df_test_str2 = df_test_str.apply(label_encode.fit_transform)

In [ ]:
str_val_test = df_test_str2.columns.to_list()

In [ ]:
df_test_num = df_test2.drop(labels=str_val_test,axis=1)

In [ ]:
df_test3 = pd.concat([df_test_num,df_test_str2],axis=1)

In [ ]:
test_pred = gs.best_estimator_.predict(df_test3.values)

In [ ]:
submission = pd.DataFrame(
{
    "id" : np.arange(0,6512),
    "prediction" : test_pred
})

In [ ]:
submission

In [ ]:
submission.to_csv("submission.csv",index=False)